@font-face {
    font-family: "helveticaneue";
    src: url("helveticaneue.eot");
    src: url("helveticaneue.eot?#iefix") format("embedded-opentype"),
         url("helveticaneue.woff") format("woff"),
         url("helveticaneue.ttf") format("truetype"),
         url("helveticaneue.svg#open_sanssemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}