# Ignore backup files
wp-content/ai1wm-backups/*.wpress

# Ignore WordPress uploads
wp-content/uploads/

# Ignore WordPress cache
wp-content/cache/

# Ignore WordPress configuration
wp-config.php

# Ignore other common large files
*.zip
*.tar.gz
*.rar
*.7z
*.log
*.sql
*.sqlite
*.db

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/
